<hr>
<p> Your Screenshot Will Appear Here if you take screenshot
</p>
<footer class="footer">
	<div class="content" id="content">
		<img id="img" crossOrigin style="display: inlne-block">
	</div>
	<script src="/javascript/register.js"></script>
</footer>
</div> <!-- container end -->
</div>
</body>