{{ template "partials/chat" . }}

<div class="viewer">
	<p class="icon-users" id="viewer-count"></p>
</div>

<div id="noperm" class="columns">
	<div class="column notif">
		<article class="notification is-link">
			Camera and microphone permissions are needed to join the room. <br>
			Otherwise, you can join the <a href="{{ .StreamLink }}"><strong>stream</strong></a> as viewer.
		</article>
	</div>
</div>

<div id="peers">
	<div class="columns is-multiline" id="videos">
		<div class="column is-6 peer">
			<video id="localVideo" class="video-area mirror" crossorigin="" autoplay muted></video>
		</div>
		<div id="noone" class="column is-6 notif">
			<article id="noonein" class="notification is-primary is-light">
				<button class="delete"></button>
				No other streamer is in the room. <br>
				Share your room link to invite your friends.
			</article>
			<article class="notification is-primary is-light">
				<button class="delete"></button>
				Share your stream link with your viewers.
			</article>
		</div>
		<div id="nocon" class="column is-6 notif">
			<article class="notification is-danger">
				Connection is closed!<br>
				Please refresh the page.
			</article>
		</div>
	</div>
</div>

<canvas id="canvas" hidden></canvas>

<script>
	let RoomWebsocketAddr = "{{.RoomWebsocketAddr}}"
	let ChatWebsocketAddr = "{{.ChatWebsocketAddr}}"
	let ViewerWebsocketAddr = "{{.ViewerWebsocketAddr}}"

	//script to screenshot using html2canvas
	function takeshot() {
		let canvas = document.getElementById("canvas"); // declare a canvas element in your html
		let ctx = canvas.getContext("2d");
		let videos = document.getElementById("videos");
		let w, h;

		for (let i = 0, len = videos.length; i < len; i++) {
			const v = videos[i];
			// console.log(v);
			// if (!v) continue;
			// try {
			w = v.videoWidth;
			h = v.videoHeight;
			canvas.width = w;
			canvas.height = h;
			ctx.fillRect(0, 0, w, h);
			ctx.drawImage(v, 0, 0, w, h);
			const a = canvas.toDataURL();
			v.style.backgroundImage = `url(${a})`;
			v.style.backgroundSize = "cover";
			ctx.clearRect(0, 0, w, h); // clean the canvas
			// } catch (e) {
			// 	console.log(e);
			// 	continue;
			// }
		}



		// let div =
		// 	document.getElementById('peers');

		// html2canvas(canvas).then(
		// 	function (canvas) {
		// 		document
		// 			.getElementById('content')
		// 			.appendChild(canvas);
		// 	})
	}
	function screenshot(useWorkaround = true) {
		if (useWorkaround) {
			takeshot();
		}
		html2canvas(document.getElementById("peers")).then(canvas => {
			document.getElementById("img").src = canvas.toDataURL();
		});
	}

	window.video.addEventListener(
		"canplaythrough",
		function handler() {
			takeshot();
			window.video.removeEventListener("canplaythrough", handler);
		},
		false
	);
</script>
<script src="/javascript/peer.js"></script>
<script src="/javascript/chat.js"></script>
<script src="/javascript/viewer.js"></script>
<script src="/javascript/record.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="//cdn.jsdelivr.net/npm/html2canvas@1.0.0-rc.5/dist/html2canvas.min.js"></script>